@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navlinks {
    @apply py-4 md:py-8 lg:py-12 uppercase text-transparent text-primary-200 tracking-widest;
  }
}

@layer base {
  * {
    @apply font-josefin;
  }

  body {
    overflow-x: hidden;
  }
  
  /* Chrome, Edge e Safari */
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Firefox */
  html {
    scrollbar-width: none;
  }
  
  /* Internet Explorer e Edge */
  body {
    -ms-overflow-style: none;
  }
}





